*{
    padding: 0;
    margin: 0;
}
.logo{   
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 1px 1px 1px #ffffff
 }

 nav ul li a {
    color: black;
    font-size: 0,5cm;
    margin: 1cm;
 }
  
 body{
    background-color: #e7e5e3f8;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    padding: 0 1,5em;

 }
 h1{
    color: black;
    padding: 40px;
    margin: 30px 100px 30px 50px;
    font-size:larger;
 }
 h2{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    color: black;
 }
 h3{
    padding: 40px;
    margin: 40px 100px 30px 50px;
    color: black;
 }

 
 .bienvenida{
    background-color: #dadada;
    box-shadow: 0 10px 20px, 0 6px 6px #ead6cc;
    border-radius: 6px;
 }
 .tituloDestacados{
    background-color: #dadada;
    box-shadow: 0 10px 20px, 0 6px 6px #ead6cc;
    border-radius: 6px;
    font-size:larger;
 }
  
 .video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
 }

 .video iframe{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
 }
 img {
    border-radius: 2px;
 }
 img{
    display: inline-block;
    height: 450px;
    width: 450x;
 }

.imgindex{
   box-shadow: 0 10px 20px, 0 6px 6px;
}
 p{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    color: black;
 }
  
  
 .blogContainer{
    background-color: #e7e5e3f8;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto auto;
 }
  
 .imagenD, .imagenI{
    display: flex;
    align-items: center;
    width: 100%;
 }
 .imagenI{
    flex-direction: row-reverse;
 }
 .imagenD div,
 .imagenI div{
    width: 100%;
    margin: auto;
    text-align: left;
    object-fit: cover;
 }


 .container--flex{
    display: flex;
    justify-content: space-between;
 }
 .mainHeader{
    padding: 10px;
 }
  
 .menu{
    display: none;
 }

 .tiendaTitulo{
    font-size: x-large;
 }

 .container{
    padding: 30px;
 }
 .contact-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2em;
    margin-bottom: 200px;
 }
  
 .bodyContacto{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    padding: 0 1,5em;
 }
  
 .content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1,5em;
 }
 .logoContacto{
    text-align: center;
    font-size: 3em;
    border: none;
    background: none;
 }
 .logoContacto span{
    color: #b70e21;
 }
 .contactUs{
    padding: 10px;
    color: black;
    border: none;
    background: none;
   
 }
  
 .contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
 }
 .contact-wrapper > * {
    padding: 1em;
 }
 .contact-form{
    background: #dadada;
 }
  
 .contact-form form{
    margin: 0;
    padding: 1em;
 }
  
 .contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
 }
  
 .contact-form form .block{
    grid-column: 1/3;
 }
  
 .contact-form form button,
 .contact-form form input,
 .contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #000000;
 }
  
 .contact-form form button{
    background:#b6b5b5;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
   
 }
  
 .contact-form form button:hover
 .contact-form form button:focus{
    background: #080808;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
 }
  
 .contact-info{
    padding: 40px;
    background-color:#d3d3d3;
 }
  
 .contact-info h4,
 .contact-info ul,
 .contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 1em;
 }
 .contact-info ul{
    list-style: none;
    padding: 0;
 }
  
 .contact-info ul li{
    padding: .3em;
 }
  
 footer{
    background-color: #dadada;  
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
 }
 .redes{
    min-width: 700px;
    display: flex;
    justify-content: space-around;
   
 }
 .redes a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
 }
 .redes a:hover{
    transform: scale(1.2);
 }
  
 .violet{
    background-color: #fffdfcf9;
 }


.carousel-inner .carousel-item img { 
   width: auto;
   height: auto;
}
.carrito{
   padding: 30px;
}
.carritoSegundo{
   padding: 30px;
}

.formFactura{
   padding: 30px;
}


.card-box{
   color: rgb(0, 0, 0);
   text-align: center;
   background-color: #dadada; 
   padding: 25px;
   border-radius: 8px; 
   position: relative;
   margin-top: 40px;
}

.card-box::before{
   content: ''; 
   position: absolute; 
   top: 0;
   left: 0;
   width: calc(100% + 8px); 
   height: calc(100% + 8px);
   transform: translate(-4px, -4px); 
   background: linear-gradient(60deg, #5ff281, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f) 0 50%;
   background-size: 300% 300%; 
   animation:  gradient-animation 2.5s alternate infinite; 
   border-radius: 8px;
   z-index: -1; 
}
.card-titles{
   font-size: 40px;
   margin-block: 25px;
}

.card-title span{
   font-size: 30px;
}
.card-button{
   display: inline-block;
   font-size: 14px;
   color: rgb(52, 52, 52);
   text-decoration: none;
   border: 1px solid #fff;
   border-radius: 20px;
   padding: 10px 15px;
}

@keyframes gradient-animation {
   50%{
      background-position: 100% 50%;
   }
}



.containerD {
  clip: rect(0, auto, auto, 0);
  overflow: hidden;
  position: relative;
  height: 100vh;
  left: 0;
  width: 100%;
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

.container_solid {
  background: white;
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;  
  margin: auto;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
  background-size:auto;
  background-position: center;
  
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(0, 0, 0);
}

.container_image {
  background-image: url(../imagenes/fondo.jpeg);
  background-size:auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.gridtienda{
   display: flex;
   }
.producto{
   max-width: 280px;
   display: flex;
   flex-flow: column;
   border-radius: 6px;
   box-shadow:  0 0 1em rgba(0,0,0,0,2);
   background-color: rgb(255,255,255);
   cursor: pointer;
   transition-property: box-shadow;
   transition-duration: 0.3s;
   margin: 20px;
}

.producto :hover{
   box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}

.producto > img{
   object-fit: cover;
}
.informacion {
   border-top: 1px solid rgb(230,230,230);
   padding: 1em;
   display: flex;
   flex-flow: column;
}
.informacion * + *{
   margin-bottom: 1em;
}
.tipo-envio{
   background-color: rgb(52,131,250);
   color: rgb(255,255,255);
   font-weight: 600;
   max-width: max-content;
   padding: 0 0.2em;
   border-radius: 3px;

}
.precio{
   font-size: 1,5em;
}

.precio-envio{
   color: rgb(0,166,80);
}

.descripcion, .ubicacion{
   font-weight: 300;
}

.precio-envio, .descripcion, .ubicacion{
   font-size: 0.9em;

}
.calificacion, .ubicacion{
   transition-duration: 0.3s;
   transition-property: opacity;
   opacity: 0;
}

.producto:hover .calificacion,
.producto:hover .ubicacion{
   opacity: 1;
}

.tipo-envio, .calificacion{
   font-size: 0.8em;
}
.calificacion  > span:first-child{
   color: rgb(52,131,250);;
}

.calificacion > * {
   margin: 0;
}
.gridtienda{
   display: grid;
   grid-template-columns: repeat(auto-fit,280px);
   grid-template-rows: 1fr;
}


@media (max-width:768px){
   .contact-wrapper{
      display: grid;
      grid-template-columns: 2fr;
   }
 }
@media (max-width:320px){
   .contact-wrapper{
      display: grid;
      grid-template-columns: 2fr;
      background-color: #d1b799;
   }
 }
 .site-header{
    grid-area: header;
 }
 .carousel-inner{
    grid-area: carousel;
 }
 .blogContainer{
    grid-area: contenido;
 }
 .video{
    grid-area: video;
 }
 .tituloDestacados{
    grid-area: titulo;
 }
 .bootstrap{
    grid-area: bootstrap;
 }
 .footer{
    grid-area: footer;
 }
  
 .wrapper{
    display: grid;
    grid-template-areas:
    "header"
    "carousel"
    "contenido"
    "video"
    "titulo"
    "bootstrap"
    "footer"
    ;
 }
  
 @media (max-width:767px){
    .wrapper{
        grid-template-columns: 1fr;
        display: grid;
        grid-template-areas:
        "header"
        "carousel"
        "contenido"
        "video"
        "titulo"
        "bootstrap"
        "footer"
        ;
    }
 .bootstrap{
    grid-template-columns: 1fr;
 }
 .blogContainer{
    grid-template-columns: 1fr;
 }
 .video{
    width: 100%;
    height: 100%;
 }
  
 }
 @media (min-width: 768px) and (max-width: 1023px) {
  
    .wrapper{
        grid-template-columns: 1fr;
        display: grid;
        grid-template-areas:
        "header"
        "carousel"
        "contenido"
        "titulo"
        "bootstrap"
        "video"
        "footer"
        ;
    }
    .bootstrap{
    grid-template-columns: 1fr;
    }
    .blogContainer{
    grid-template-columns: 1fr;
    }
   
    .video{
    width: 100%;
    height: 100%;
    }
    } 